Node-Red.json
[{"id":"b22d971b.e89cd8","type":"tab","label":"Smart Agriculture","disabled":false,"info":""},{"id":"a48a8734.286398","type":"ibmiot in","z":"b22d971b.e89cd8","authentication":"apiKey","apiKey":"1f248167.e181af","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"593890","applicationId":"","deviceType":"IoTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":80,"wires":[["47b2678.75c9b98","7be99442.4027ec","de2e95da.1c00b8","a427617e.a902e"]]},{"id":"47b2678.75c9b98","type":"debug","z":"b22d971b.e89cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"7be99442.4027ec","type":"function","z":"b22d971b.e89cd8","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["47b2678.75c9b98","233bfd93.ad6f32"]]},{"id":"de2e95da.1c00b8","type":"function","z":"b22d971b.e89cd8","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["47b2678.75c9b98","729f10cc.bf3d8"]]},{"id":"a427617e.a902e","type":"function","z":"b22d971b.e89cd8","name":"Object Temperature","func":"msg.payload =  msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["47b2678.75c9b98","56468420.b1858c"]]},{"id":"233bfd93.ad6f32","type":"ui_gauge","z":"b22d971b.e89cd8","name":"Temperature","group":"1d655f8d.c6f3d","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"729f10cc.bf3d8","type":"ui_gauge","z":"b22d971b.e89cd8","name":"","group":"1d655f8d.c6f3d","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":260,"wires":[]},{"id":"679a2c8b.2a1ae4","type":"ibmiot out","z":"b22d971b.e89cd8","authentication":"apiKey","apiKey":"1f248167.e181af","outputType":"cmd","deviceId":"123456","deviceType":"IoTDevice","eventCommandType":"Home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":500,"wires":[]},{"id":"3178caf3.c5a5c6","type":"ui_button","z":"b22d971b.e89cd8","name":"","group":"9f93fbca.0c4e58","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":110,"y":420,"wires":[["679a2c8b.2a1ae4","e4652fd.46af4d"]]},{"id":"c5d1a8cf.89aab8","type":"ui_button","z":"b22d971b.e89cd8","name":"","group":"9f93fbca.0c4e58","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":100,"y":500,"wires":[["679a2c8b.2a1ae4","e4652fd.46af4d"]]},{"id":"e4652fd.46af4d","type":"debug","z":"b22d971b.e89cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":420,"wires":[]},{"id":"56468420.b1858c","type":"ui_gauge","z":"b22d971b.e89cd8","name":"Object Temperature","group":"1d655f8d.c6f3d","order":3,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"ec740f7a.1ac85","type":"inject","z":"b22d971b.e89cd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"5","x":90,"y":740,"wires":[["f95e3ea0.4e574"]]},{"id":"f95e3ea0.4e574","type":"http request","z":"b22d971b.e89cd8","name":"OPEN WEATHER API","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Delhi,IN&appid=505d6eb43fa4da20daee1eeec4d3b451","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":740,"wires":[["8b24da96.b49b78","7719e181.1a21f","706399bf.2ff928","aecc0169.74196","199d26af.1006c9","207ea86c.4ef1c8"]]},{"id":"706399bf.2ff928","type":"debug","z":"b22d971b.e89cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main","targetType":"msg","x":650,"y":660,"wires":[]},{"id":"8b24da96.b49b78","type":"function","z":"b22d971b.e89cd8","name":"Temperature","func":"msg.payload = msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":720,"wires":[["1d7d7cd9.aa0ed3"]]},{"id":"1d7d7cd9.aa0ed3","type":"ui_gauge","z":"b22d971b.e89cd8","name":"Temperature","group":"676ae6de.210018","order":1,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"K","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":720,"wires":[]},{"id":"aecc0169.74196","type":"function","z":"b22d971b.e89cd8","name":"Pressure","func":"msg.payload = msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":780,"wires":[["437421b2.2c816"]]},{"id":"199d26af.1006c9","type":"function","z":"b22d971b.e89cd8","name":"Humidity","func":"msg.payload = msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["77284ef4.e75e3"]]},{"id":"7719e181.1a21f","type":"debug","z":"b22d971b.e89cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":600,"wires":[]},{"id":"437421b2.2c816","type":"ui_gauge","z":"b22d971b.e89cd8","name":"","group":"676ae6de.210018","order":3,"width":0,"height":0,"gtype":"donut","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":780,"wires":[]},{"id":"3dd728a6.305388","type":"catch","z":"b22d971b.e89cd8","name":"","scope":null,"uncaught":false,"x":360,"y":140,"wires":[["47b2678.75c9b98"]]},{"id":"207ea86c.4ef1c8","type":"function","z":"b22d971b.e89cd8","name":"Wind Speed","func":"msg.payload = msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":900,"wires":[["1494b3a3.e37c6c"]]},{"id":"1494b3a3.e37c6c","type":"ui_gauge","z":"b22d971b.e89cd8","name":"","group":"676ae6de.210018","order":4,"width":0,"height":0,"gtype":"donut","title":"Wind Speed","label":"KM","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":900,"wires":[]},{"id":"77284ef4.e75e3","type":"ui_gauge","z":"b22d971b.e89cd8","name":"","group":"676ae6de.210018","order":2,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":840,"wires":[]},{"id":"1f248167.e181af","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1d655f8d.c6f3d","type":"ui_group","z":"","name":"Smart Agriculture (Data Analysing)","tab":"456df8e3.447938","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f93fbca.0c4e58","type":"ui_group","z":"","name":"MOTOR CONTROL","tab":"456df8e3.447938","order":2,"disp":true,"width":"6","collapse":true},{"id":"676ae6de.210018","type":"ui_group","z":"","name":"Live Forecast (Delhi, IN)","tab":"ef240765.b37ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"456df8e3.447938","type":"ui_tab","z":"","name":"Smart Agricultural System","icon":"dashboard","disabled":false,"hidden":false},{"id":"ef240765.b37ea8","type":"ui_tab","z":"","name":"Open Weather","icon":"dashboard","disabled":false,"hidden":false}]